<%= turbo_stream_from @chat, :messages %>
<div class="flex flex-col items-center">
  <div>
    <%= @chat.title %>
  </div>
  <p>There are
    <%= @chat.messages.count %>
    messages in this chat</p>
  <div id="messages" class="flex flex-col gap-3 max-w-prose">
    <%= render partial: "messages/message", collection: @chat.messages %>
  </div>

  <div>
    <%= form_with model: [@chat, @chat.messages.build] do |form| %>
      <%= form.text_area :content %>
      <%= form.submit %>
    <% end %>
  </div>
</div>
